.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    /* border: 1px solid red; */
}

.input {
    height: 30px;
    width: 300px;
    margin-top: 30px;
    margin-right: 20px;
    text-align: center;
}

button {
    height: 30px;
    width: 100px;
    margin-top: 20px;
    background-color: rgb(0, 255, 255);
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.container {
    /* border: 1px solid green; */
    height: 100%;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.card {
    /* border: 1px solid black; */
    height: 200px;
    width: 200px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px 10px;
    border-bottom: 3px solid red;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: space-between;
}

.card button {
    height: 30px;
    width: 130px;
    margin-top: 20px;
    background-color: rgb(0, 255, 255)
}